@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
    font-family: Outfit;
}

@theme {
    --color-primary: #5f6FFF;
    --color-primary-dull: #44ae7c;
}

.active hr {
    @apply block;
}

::-webkit-scrollbar {
    @apply hidden;
}

.my-custom-grid {
    display: grid;
    /* Grid layout must be enabled */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 740px) {
    .active p {
        @apply text-white bg-primary;
    }
}